<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.next.mapper.MovieMapper" >
  <resultMap id="BaseResultMap" type="com.next.pojo.Movie" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="poster" property="poster" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="trailer" property="trailer" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="prised_counts" property="prisedCounts" jdbcType="INTEGER" />
    <result column="basic_info" property="basicInfo" jdbcType="VARCHAR" />
    <result column="original_name" property="originalName" jdbcType="VARCHAR" />
    <result column="release_date" property="releaseDate" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="VARCHAR" />
    <result column="plot_desc" property="plotDesc" jdbcType="VARCHAR" />
    <result column="directors" property="directors" jdbcType="VARCHAR" />
    <result column="actors" property="actors" jdbcType="VARCHAR" />
    <result column="plot_pics" property="plotPics" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>